<h2><%= @contractor.full_name %> (<%= @contractor.email %>)</h2>

Completed <b><%= @completed_voter_infos.count %></b> out of <b><%= @all_voter_infos.count %></b>

<% for vgi in @all_voter_infos %>
  <p>
    <%= link_to vgi.voter.full_name, view_voter_path(vgi.voter.id) %> - <%= vgi.voter.address %> - <%= vgi.email || "Email not entered yet" %>
  </p>
<% end %>