<h2><%= @contractor.full_name %> (<%= @contractor.email %>)</h2>

<h4>Please fill in information for the following voters</h4>

<% for vgi in @contractor.voter_gathered_infos.order(:voter_id) %>
  <%= form_tag(update_voter_info_path(vgi_id: vgi.id), method: 'post', remote: true) do %>
    <p>
      <%= vgi.voter.full_name %> - <%= vgi.voter.address %>
      &nbsp; &nbsp;<%= text_field_tag :email, vgi.email, { class: :email, vgi_id: vgi.id } %>
      &nbsp;<%= submit_tag "Save" %>
    </p>
  <% end %>
<% end %>